.containerHomePage {
    display: flex;
    gap: 3%;
    margin-top: 3rem;
}

.textHomePage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 5rem;
}

.textHomePage h1{
    font-size: 5rem;
    font-weight: 200;
}

.textHomePage p{
    padding-right: 4rem;
    font-weight: 300;
    font-size: 1.2rem;
}

.textHomePage button{
    width: 10rem;
    background-color: white;
    border: 1px solid black;
    height: 2rem;
}

.divImgHomePage img {
    width: 40rem;
}